
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <footer> <p>&copy; <span>2024</span> BIWW. All rights reserved.</p> </footer>
</div>